
/* SE LE DA ESTILO A LA BARRA SUPERIOR DE LA PAGINA */
.top-cuadro1{
    width: auto;
    height: 84px;
    background-color: #F5F7FA;
}
.imagen{
    position: absolute;
    left: 200px;
    top: 38px;
}
.menu{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.menu{
    position: absolute;
    left: 430px;
    top: 30px;
}
.menu1{
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
color: #18191F;

}
.login{
    position: absolute;
    left: 1000px;
    top: 30px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.titulo-login{
    color: #4CAF4F;
}
.btn-singup{
    background-color: #4CAF4F;
    border: none;
    padding-top: 14px;
    padding-right: 32px;
    padding-bottom: 14px;
    padding-left: 32px;
    color: white;
    border-radius: 10px;
}
/* HASTA ACA VIENE EL ESTILO DE LA BARRA SUPERIOR */
/* EMPIEZA EL ESTILO QUE SE LE DIO AL CUADRO SIGUIENTE O LLAMADO CUADRO 1 */
.cuadro1{
    width: auto;
    height: 599px;
    background-color: #F5F7FA;

}
.img-cuadro1{
    position: absolute;
    left: 700px;
    top: 200px;
}
.titulo-cuadro1{
font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 64px;
line-height: 76px;
letter-spacing: 0%;
color:  #4D4D4D;
}   

.titulo2-cuadro1{
    color: #4CAF4F;

}

.titulo-cuadro1{
    position: absolute;
    left: 70px;
    top: 200px;
    width: 600px;

}
.subtitulo-cuadro1{
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 16px;

line-height: 24px;
letter-spacing: 0%;
color: #717171;

}

.subtitulo-cuadro1{
    position: absolute;
    left: 70px;
    top: 410px;
}

.btn-register-cuadro1{
    position: absolute;
    left: 70px;
    top: 480px;
}

.btn-register-cuadro1{
width: 128;
height: 52;
opacity: 1;
gap: 10px;
padding-top: 14px;
padding-right: 32px;
padding-bottom: 14px;
padding-left: 32px;
color: white;
background-color: #4CAF4F;
border: none;
border-radius: 10px;

}
/* HASTA ACA VA EL ESTILO DEL CUADRO 1 */
/* EMPIEZA EL ESTILO DE LA PRIMERA FRANJA, SOLO CONTIENE 2 TEXTOS Y UNA FRANJA DEDICADA A LAS IMAGENES */
.franja1{
    width: auto;
    height: 190px;
}

.titulo-franja1{
    position: absolute;
    left: 620px;
    top: 780px;
}
.titulo-franja1{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: 600;
font-style:  Bold;
font-size: 36px;
line-height: 44px;
letter-spacing: 0%;
text-align: center;

}
.subtitulo-franja1{
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
color: #717171;
}

.subtitulo-franja1{
    position: absolute;
    left: 540px;
    top:850px;
}

.galeria-franja1{
    position: absolute;
    top: 920px;
    left: 110px;
}

.galeria-franja1{
    display: flex;
    flex-direction: row;
    gap: 150px;
}
/* AQUI TERMINA EL ESTILO DE LA FRANJA 1, 2 TEXTOS Y 7 IMAGENES DE LOGOS  */
/* AQUI EMPIEZA LA SIGUIENTE FRANJA, LLAMADA FRANJA2, CONTIENE SOLO 2 TEXTOS */
.titulo-franja2{
font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 36px;
line-height: 44px;
letter-spacing: 0%;
text-align: center;
color: #4D4D4D;

    
}
.subtitulo-franja2{
font-family: Inter;
font-weight: 400;
font-style: solid;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
color: #717171;

}

.titulo-franja2{
    width: 500px;
    position: absolute;
    left: 470px;
    top: 970px;

}
.subtitulo-franja2{
    position: absolute;
    left: 620px;
    top: 1090px;
}
/* HASTA AQUI VA EL ESTILO QUE SE LE DIO A LA FRANJA2 */
/* AQUI EMPIEZA EL SIGUIENTE CUADRO, LLAMADO FONDO-CUADRO2, EL CUAL CONTIENE 3 IMAGENES Y 3 TEXTOS DEBAJO */

.galeria-fondo-cuadro{
    position: absolute;
    left: 220px;
    top: 1150px;

}
.galeria-fondo-cuadro{
    display: flex;
    flex-direction: row;
    gap: 120px;
}

.info-fondo-cuadro{
    position: absolute;
    left: 220px;
    top: 1305px;
    display: flex;
    width: 1050px;
    text-align: center;
    gap: 120px;
}

.info-fondo-cuadro{
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
color: #717171;
}
/* HASTA AQUI EL ESTILO QUE SE LE DIO AL FONDO-CUADRO2 */
/* AQUI EMPIEZA LA SECCION MAS EXTENSA DE LA PAGINA, DONDE SON 5 CUADROS, UNO ENCIMA DEL OTRO */
.cuadros5{
width: auto;
height: 2242.39892578125px;
top: 1411px;
left: 1px;
gap: 48px;
opacity: 1;
/* AQUI SE LE ASIGNA EL ESPACIO QUE VA A TENER ESTA SECCION */
}
/* CREACION DEL PRIMER CUADRO, LLAMADOS SUBCUADRO# */
/* SUBCUADRO1 */
.sub-cuadro1{
position: absolute;
width: auto;
height: 433;
opacity: 1;
top: 1400px;

}
.img-sub-cuadro1{
    position: absolute;
    left: 250px;
}

.titulo-sub-cuadro1{
    position: absolute;
    left: 700px;
    width: 500px;
    top: 30px;

}
.titulo-sub-cuadro1{
font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 36px;
line-height: 44px;
letter-spacing: 0%;
color: #4D4D4D;
;

}

.subtitulo-sub-cuadro1{
    position: absolute;
    left: 700px;
    top: 150px;
    width: 600px;
}
.subtitulo-sub-cuadro1{
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;
color: #717171;
;


}

.btn-sub-cuadro1{
    position: absolute;
    left: 700px;
    top: 300px;
    
}
.btn-sub-cuadro1{
width: 151;
height: 52;
gap: 10px;
opacity: 1;
padding-top: 14px;
padding-right: 32px;
padding-bottom: 14px;
padding-left: 32px;
border-radius: 4px;
background-color: #4CAF4F;
color: white;
border: none;


}
/*  FINALIZA EL ESTILO DEL SUBCUADRO 1 */
/* EMPIEZA EL ESTILO DEL SUBCUADRO 2 */
.sub-cuadro2{
position: absolute;
width: 1440px;
height: 288px;
opacity: 1;
top: 1850px;
background-color: #F5F7FA;
;

}

.imagen-sub-cuadro2{
    position: absolute;
    left: 850px;
    top: 70px;
}

.titulo-sub-cuadro2{
font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 36px;
line-height: 44px;
letter-spacing: 0%;
color: #4D4D4D;
width: 350px;

}
.titulo-sub-cuadro2{
    position: absolute;
    left: 280px;
    top: 50px;

}
.subtitulo-sub-cuadro2{
font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 36px;
line-height: 44px;
letter-spacing: 0%;
color: #4CAF4F;


}
.subtitulo2-sub-cuadro2{
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
color: #18191F;
}


.subtitulo2-sub-cuadro2{
    position: absolute;
    left: 280px;
    top:170px;

}
/* FINALIZA EL ESTILO DEL SUBCUADRO 2 */
/* EMPIEZA EL ESTILO DEL SUBCUADRO 3 */

.sub-cuadro3{
position: absolute;
width: 1440px;
height: 288px;
opacity: 1;
top: 2200px;

}

.imagen-sub-cuadro3{
    position: absolute;
    left: 260px;
}

.titulo-sub-cuadro3{
font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 36px;
line-height: 44px;
letter-spacing: 0%;
color:#4D4D4D;

}

.titulo-sub-cuadro3{
    position: absolute;
    width: 525px;
    left: 750px;
    top: 30px;

}


.subtitulo-sub-cuadro3{
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;
color: #717171;

}

.subtitulo-sub-cuadro3{
    position: absolute;
    left: 750px;
    top: 150px;
    width: 520px;
}


.btn-sub-cuadro3{
width: 151;
height: 52;
gap: 10px;
opacity: 1;
padding-top: 14px;
padding-right: 32px;
padding-bottom: 14px;
padding-left: 32px;
border-radius: 4px;
background-color: #4CAF4F;
color: white;
border: none;

}
.btn-sub-cuadro3{
    position: absolute;
    left: 750px;
    top: 330px;
}
/* FINALIZA EL ESTILO DEL SUBCUADRO 3 */
/* COMIENZA ESTILO DEL SUBCUADRO 4 */
.sub-cuadro4{
position: absolute;
width: 1440px;
height: 390px;
opacity: 1;
top: 2700px;
background-color: #F5F7FA;

}

.imagen-sub-cuadro4{
    position: absolute;
    left: 250px;
    top: 32px;
}
.subtitulo-sub-cuadro4{
font-family: Inter;
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
vertical-align: middle;
color: #717171;
width: 650px;

}

.subtitulo-sub-cuadro4{
    position: absolute;
    left: 650px;
    top: 23px;


}

.nombre-sub-cuadro4{
font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 20px;
line-height: 28px;
letter-spacing: 0%;
vertical-align: middle;
color: #4CAF4F;

}
.nombre-sub-cuadro4{
    position: absolute;
    left: 650px;
    top: 200px;
}

.sub-nombre-cuadro4{
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
vertical-align: middle;
color: #89939E;

}
.sub-nombre-cuadro4{
    position: absolute;
    left: 650px;
    top: 240px;
}

.logos-cuadro4{
    position: absolute;
    left: 650px;
    top: 320px;
}
/* FINALIZA EL ESTILO DEL SUBCUADRO 4 */
/* COMIENZA EL ESTILO DE SUBCUADRO 5 */
.sub-cuadro5{
position: absolute;
width: 1440px;
height: 506px;
opacity: 1;
top: 3100px;

}

.titulo-cuadro5{
font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 36px;
line-height: 44px;
letter-spacing: 0%;
text-align: center;
color: #4D4D4D;

}
.titulo-cuadro5{
    position: absolute;
    left: 520px;
    width: 600px;
}
.subtitulo-cuadro5{
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
width: 550px;
color: #717171;
;

}
.subtitulo-cuadro5{
    position: absolute;
    left: 550px;
    top: 70px;
}

.galeria-cuadro5{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.galeria-cuadro5{
    position: absolute;
    top: 180px;
    left: 265px;
}
.galeria2-cuadro5{
    position: absolute;
    top: 360px;
    left: 270px;
}

.galeria2-cuadro5{
    display: flex;
    gap: 45px;
}
/* AQUI FINALIZA EL SUBCUADRO 5 */
/* FINALIZA LA SECCION DE CUADROS  */
/* COMIENZA LA SECCION FINAL, LLAMADA FONDO */
/* COMIENZA LA SECCION SUPERRIOR DEL FONDO, LLAMADO TOP-FONDO */
.top-fondo{
position: absolute;
width: 1440px;
height: 350px;
opacity: 1;
top: 3800px;
background-color: #F5F7FA;
;

}

.titulo-top-fondo{
font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 64px;

line-height: 76px;
letter-spacing: 0%;
text-align: center;
width: 600px;
color: #4D4D4D;
;
}
.titulo-top-fondo{
    position: absolute;
    left: 450px;
}
.btn-top-fondo{
width: 178;
height: 52;
gap: 8px;
opacity: 1;
padding-top: 14px;
padding-right: 32px;
padding-bottom: 14px;
padding-left: 32px;
border-radius: 4px;
background-color: #4CAF4F;
color: white;
border: none;

}
.btn-top-fondo{
    position: absolute;
    top: 230px;
    left: 660px;

}
/* AQUI TERMINA EL TOP-FONDO */
/* COMIENZA LA SECCION FINAL LLAMADO FONDO */
.fondo{
position: absolute;
width: 1440px;
height: 328px;
opacity: 1;
top: 4120px;
background-color: #263238;

}

.contenido-fondo{
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;
color: white;

}

.columna1{
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 180px;
    top: 80px;
    gap: 20px;
}

.columna2{
    position: absolute;
    left: 650px;
    top: 80px;
}
.titulo-columna2{
font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 20px;

line-height: 28px;
letter-spacing: 0%;
color: white;

}
.info-columna2{
font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 14px;
line-height: 20px;
letter-spacing: 0%;
color: white;

}

.columna3{
    position: absolute;
    left: 850px;
    top: 80px;
    
}

.columna4{
    position: absolute;
    left: 1050px;
    top: 78px;

}

.titulo-columna4{
font-family: Inter;
font-weight: 600;
font-style: Semi Bold;
font-size: 25px;
line-height: 28px;
letter-spacing: 0%;
color: white;

}
/*  AQUI TERMINA LA PARTE FINAL DE LA PAGINA */
/* ============ Base responsive ============ */
:root{
  --max: 1240px;
  --page: 1440px;
  --gap: 16px;
}

body{
  /* en vez de padding-top fijo, usa variables si cambias alturas */
  padding-top: 108px; /* 38 top-bar + ~70 nav-bar */
}

/* Evita anchos fijos que rompen en móvil */
.top-bar,
.nav-bar,
.cuadro,
.franja{
  width: min(var(--page), 100%);
}

/* Centrado sin left:50% + translateX */
.top-bar,
.nav-bar,
.cuadro,
.franja{
  left: auto;
  transform: none;
  margin: 0 auto;
}

/* ============ Top bar (flex) ============ */
.top-bar{
  position: fixed;
  inset: 0 0 auto 0;            /* top:0; left:0; right:0 */
  height: auto;
  padding: 10px 12px;
  display: flex;
  justify-content: center;
}

.top-bar-text{
  position: static;             /* quita fixed */
  text-align: center;
  padding-right: 34px;          /* espacio para la X */
  line-height: 1.3;
}

.close-btn{
  right: 12px;
}

/* ============ Navbar (grid) ============ */
.nav-bar{
  position: fixed;              /* para que acompañe el scroll */
  top: 38px;
  inset-inline: 0;              /* left/right */
  height: auto;
  z-index: 999;
  border-bottom: 1px solid #eee;
}

.nav-container{
  width: min(var(--max), 94vw);
  margin: 0 auto;
  height: auto;
  padding: 10px 0;
  gap: 18px;

  display: grid;
  grid-template-columns: auto auto auto auto auto 1fr auto;
  align-items: center;
}

/* Buscador siempre flexible */
.search-box{
  width: 100%;
  min-width: 220px;
}

/* Iconos derecha en flex */
.nav-images{
  justify-self: end;
  display: flex;
  gap: 12px;
}

/* ============ HERO (.cuadro) usando grid ============ */
.cuadro{
  position: relative;
  top: 0;                 /* ya no dependas de top:90px */
  margin-top: 108px;      /* empuja debajo de header fijo */
  height: auto;
  padding: 48px 0;
}

.cuadro{
  display: grid;
  grid-template-columns: 1.05fr .95fr;
  align-items: center;
}

/* Columna izquierda: texto en flujo (sin absolute) */
.text-box-simple-dos,
.text-box-simple-uno,
.btn-cta,
.text-box3{
  position: static;
  left: auto; top: auto;
  width: auto;
}

.text-box-simple-dos{ margin-left: 105px; max-width: 640px; }
.text-box-simple-uno{ margin-left: 105px; margin-top: 18px; max-width: 560px; }
.btn-cta{ margin-left: 105px; margin-top: 22px; }
.text-box3{ margin-left: 105px; margin-top: 28px; }

/* Stats en flex (ya lo tenías, solo asegure wrap) */
.text-box3{
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
}

/* Columna derecha: imagen fluida */
.img-movil{
  position: static;   /* fuera absolute */
  width: min(650px, 92%);
  height: auto;
  margin: 0 auto;
  display: block;
}

/* Figuras decorativas: puedes dejarlas absolute */
.figure1, .figure2{ position: absolute; }

/* ============ Franja logos (flex responsive) ============ */
.franja{
  position: static;     /* no absolute: que siga el flujo */
  height: auto;
  padding: 18px 0;
  margin: 0 auto;
}

.imagenes-franja-negra{
  width: min(var(--max), 94vw);
  margin: 0 auto;
  gap: 48px;
  justify-content: space-between;
}

.imagenes-franja-negra img{
  max-height: 26px;
  width: auto;
  transform: none;
}

/* ============ Galerías (grid responsive) ============ */
.bloque-imagenes{
  width: min(var(--max), 94vw);
  margin-top: 48px;
}

.galeria{
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 22px;
}

/* ============ Comentarios (grid) ============ */
.titulo-comentarios{
  width: min(var(--max), 94vw);
  margin: 0 auto;
  padding-left: 0;
  top: 0;
  justify-content: space-between;
}

.flechas-comentarios{
  padding-left: 0;
}

.imagenes-comentarios{
  width: min(var(--max), 94vw);
  margin: 26px auto 0;
  flex-wrap: wrap;
}

/* ============ Cuadro2 (grid de imágenes) ============ */
.cuadro2{
  width: min(1239px, 94vw);
}

.bloque-imagenes-cuadro2{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
}

/* ============ Cuadro3 (newsletter) ============ */
.franja-negra-cuadro3{
  width: min(var(--max), 94vw);
  transform: none; /* evita subirlo en móvil */
}

.titulo-franja-cuadro3{
  top: 0;
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 14px;
}

/* Alinea input+botón en grid */
.franja-negra-cuadro3{
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
}

.campo-correo,
.btn-suscribirse{
  width: 100%;
  margin-left: 0;
  margin-top: 0;
}

.imagen-fondo,
.fondo-top-titulo,
.imagen-fondo-top{
  width: min(var(--max), 94vw);
  margin: 18px auto 0;
}

/* ============ Breakpoints ============ */
@media (max-width: 1100px){
  .nav-container{
    grid-template-columns: auto 1fr auto;
    grid-template-areas:
      "title search icons"
      "links links links";
    gap: 12px;
  }

  #nav-tittle{ grid-area: title; }
  .search-box{ grid-area: search; }
  .nav-images{ grid-area: icons; }

  /* Agrupa links (Shop/On Sale/New Arrivals/Brands) en una fila */
  .dropdown-content,
  .nav-container > a{
    grid-area: links;
    justify-self: start;
  }

  .cuadro{
    grid-template-columns: 1fr;
    gap: 18px;
    padding: 28px 0;
  }

  .text-box-simple-dos,
  .text-box-simple-uno,
  .btn-cta,
  .text-box3{
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media (max-width: 600px){
  body{ padding-top: 120px; }

  .search-box{ min-width: 0; }
  .imagenes-franja-negra{
    justify-content: center;
    gap: 22px;
  }

  .text-box-simple-dos{ font-size: 38px; line-height: 1.05; }
  .enfasis-text3{ font-size: 38px; }
}
